div.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h3.title {
    color: #ddd;
    text-align: center;
    margin: 0;
    font-size: 2rem;
  }
  div.form {
    width: 300px;
  }
  button.primary {
    width: 100px;
  }
}
