div#root {
  div.Backdrop {
    div.ModalWarning {
      background-color: #222;
      color: #ddd;
      & > button {
        border: 1px solid #999;
        background-color: #333;
        transition: 0.2s all ease-in-out;
        &:hover {
          filter: brightness(1.2);
        }
        &:active {
          filter: brightness(1.4);
        }
      }
    }
    & > i#loading {
      color: #ccc;
    }
  }
}

@media screen and (max-width: 450px) {
  div#root div.Backdrop div.ModalWarning {
    width: 250px;
  }
}
