@import '../../../../styles/colors.scss';

div.Dragao {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid #777;
  border-radius: 10px;
  background-color: $secondary-background;
  color: $secondary-text;
  padding: 0 13px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $primary-background;
  }
  div.main-dragao-row,
  div.details-dragao-row {
    display: flex;
    align-items: center;
    transition: 0.2s all ease-in-out;
  }
  div.main-dragao-row {
    height: 55px;
    color: #ccc;
    justify-content: space-between;
    span.dragao-title {
      max-width: 250px;
      font-weight: 600;
      i {
        transform: rotate(0);
        transition: all 0.2s ease-in-out;
        margin-right: 5px;
        &.dropdown-active {
          transform: rotate(180deg);
        }
      }
    }
    div.dragao-options {
      button {
        margin: 0 3px;
        i {
          margin-right: 5px;
        }
      }
    }
  }
  div.details-dragao-row {
    justify-content: space-between;
    overflow: hidden;
    height: 0;
    span.detail {
      span.detail-title {
        font-weight: 600;
      }
    }
    &.dropdown-active {
      height: 55px;
    }
  }
}

@media screen and (max-width: 450px) {
  div.Dragao {
    padding: 21px 13px;
    div.main-dragao-row {
      div.dragao-options {
        display: flex;
        flex-direction: column-reverse;
        button {
          margin: 5px 0;
        }
      }
      span.dragao-title {
        max-width: 60%;
        overflow: hidden;
      }
    }
    div.details-dragao-row {
      flex-direction: column;
      align-items: flex-start;

      &.dropdown-active {
        margin-top: 21px;
        height: 85px;
      }
    }
  }
}
