div.App {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  span.logout {
    color: #aaa;
    position: fixed;
    right: 13px;
    top: 13px;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
    &:hover {
      color: #ccc;
    }
    &:focus {
      color: #fff;
    }
  }
  div.main-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #777;
    border-radius: 15px;
    width: 60%;
    height: 60%;
    & > div {
      width: 100%;
      height: 100%;
    }
  }
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  div.App div.main-container {
    $side-margin: 21px;
    $top-margin: 55px;
    margin: $side-margin;
    margin-top: $top-margin;
    width: 100%;
    height: calc(100% - #{($side-margin * 3) + $top-margin});
  }
}
